*/node_modules
*/package-lock.json
*/build
.DS_Store
.env
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/files/*
backend/src/prisma-client
!backend/files/profilePictures/.gitkeep
!backend/files/commonAreasPictures/.gitkeep
!backend/files/reportFiles/.gitkeep