/* App-specific styling */
*{
    font-family: "Roboto", sans-serif;
}

.app-color{
    background-color: #3E94BF;
}

.font-app-color{
    color: #3E94BF;
}

.bg-video-color{
    background-color: #73abc7;
}